<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        input{
            display: block;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
      <login-form/>  
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        let app = Vue.createApp({

        })
        app.component('login-form',{
            template:`
            <form v-on:submit.prevent="handleSubmit">
                <h1>{{ login }}</h1>
                <custom-input v-bind:label="usernameLabel" :type="email" v-model="usernameValue"/>
                <custom-input v-bind:label="passwordLabel" :type="password" v-model="passwordValue"/>
                <button>Login</button>
            </form>
            `,
            data(){
                return{
                    email: "email",
                    login: "Login Page",
                    usernameLabel: "Username",
                    usernameValue: "",
                    passwordLabel: "Password",
                    password: "password",
                    passwordValue: ""
                }
            },
            methods:{
                handleSubmit(){
                    console.log(this.usernameValue, this.passwordValue)
                }
            }
        })
        app.component('custom-input', {
            template:`
                <label>{{ label }}
                    <input :type="type" v-model="inputValue">
                </label>
            `,
            props: ['label', 'type', 'modelValue'],
            computed: {
                inputValue:{
                    get(){
                        return this.modelValue
                    },
                    set(value){
                        this.$emit('update:modelValue', value)
                    }
                }
            }

        })
        app.mount("#app")
    </script>
</body>
</html>